* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    color: #1e293b;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #f1f5f9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #1e293b;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #2563eb;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #2563eb;
}
.nav-links a:hover::after {
    width: 100%;
}
.hero {
    margin-top: 80px;
}
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #ffffff, #f1f5f9);
}
.hero h1 {
    font-size: 3rem;
}
.hero span {
    color: #2563eb;
}
.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #64748b;
}
.btn {
    padding: 12px 25px;
    background: #2563eb;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}
.btn:hover {
    background: #1d4ed8;
}
section {
    padding: 80px 10%;
    text-align: center;
}
.about p {
    margin-top: 20px;
    color: #64748b;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    font-size: 1.05rem;
}
.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}
.card {
    background: #e0f2fe;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.card:hover {
    transform: translateY(-10px);
    background: #bae6fd;
}
.card h3 {
    margin-bottom: 15px;
    color: #1e293b;
}
.card p {
    color: #475569;
    margin-bottom: 15px;
}
.card a {
    text-decoration: none;
    color: #1d4ed8;
    font-weight: bold;
}
footer {
    background: #e0f2fe;  
    padding: 20px;
    text-align: center;
    color: #1e293b;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    gap: 10px;
    }
    .nav-links {
    gap: 15px;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}